# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/
dist/
dist-ssr/

# Archivos de entorno
.env
.env.*
.env.local
.env.development
.env.production

# Archivos de configuración local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de construcción
build/
out/
.next/

# Cache
.cache/
.temp/

# Sistema
Thumbs.db
ehthumbs